* {
 box-sizing: border-box;
 margin: 0;
 padding: 0;
}

.calendar_wrapper{
  width: 500px;
  margin: auto;
}
.day{
  font-weight: bold;
}
.day  span {
  color: red;
}
.holiday {
  color: red;
}
.prev:hover {
  cursor: pointer;
}
.next:hover {
  cursor: pointer;
}
/* basic vaues */
/* specific css styles */
